$gray: #eee;

md-content.md-default-theme {
  background-color: #eee !important;
}
md-toolbar a{
  /*color: #526c84;*/
  color: #fff;
  text-decoration: none;
}
h2 {
  font-weight: 400;
}
md-card-content img {
   
    height: auto;
    display: inline-block;
}

md-item a{
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

.md-fab-bottom-right{
top: auto;
right: 20px;
bottom: 20px !important;
left: auto;
position: fixed !important;
}
.loadIndeterminate{
	position: fixed !important;
	bottom: 0px !important;
	left: 0px !important;
	transform: none;
}
.docValidado, .docNoValidado{
	font-weight: bold;
	font-size: .8em;
}
.docValidado{
	color: #3c763d;
}
.docNoValidado{
	color: #a94442;
}
.loading{
  width:100%;
  height:100%;
  background-color:#fff;
  z-index:1000;
  opacity:.5;
  position:fixed;
  top:0px;
  left:0px;
}
.error{
  color: rgb(244,67,54);
}
.success{
  color: #3c763d;
}
.warning{
  color: #8a6d3b;
}
.bold{
  font-weight: bold !important;
}
.new{
  background-color: #d9edf7;
}
md-badge{
  margin: 0 0 0 8px;
  background-color: #259b24;
  color: white;
  padding: 2px 4px;
  border-radius: 4px;
}
.md-warn{
  background-color: #F44336;
}

md-list-item.active a{
  /*background-color: rgba(158,158,158,0.2);*/
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}
/*img.md-avatar{
  width: 110px;
  height: 110px;
  border-radius: 55px;
  border: 5px solid #fff;
  margin-right:10px;
}

.center-cropped {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-repeat: no-repeat;
}*/
.sidebar-profil{
  /*background: linear-gradient(180deg, #ede108 50%, #fff 50%) !important;*/
  /*background-color: #ede108 !important;*/
}
/*md-list-item.custom-sidebar{
  color: rgba(256,256,256,0.9);
}
md-list-item.custom-sidebar a{
  padding: 10px;
}
md-list.menu{
  padding: 0 !important;
}
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
} */
