<form novalidate="false">
    <md-dialog aria-label="Nuevo mensaje"  ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span><i class="fa fa-envelope-circle"></i> Nuevo mensaje</span>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content >
            <md-content layout-padding layout="column">
                <md-input-container>
                    <label>Asunto</label>
                    <input ng-model="mensajeForm.asunto" required>
                </md-input-container>
                <md-input-container>
                    <label>Descripción</label>
                    <textarea ng-model="mensajeForm.mensaje" required  md-select-on-focus rows="5"></textarea>
                </md-input-container>

            </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button  class="md-raised md-primary" ng-click="new()">
                <i class="fa fa-send"></i> Enviar
            </md-button>
            <md-button ng-click="cancel()">
                Cerrar
            </md-button>
        </md-dialog-actions>
    </md-dialog>
</form>