<div ng-controller="mensajesController as mensajesCtrl" ng-init="mensajesCtrl.view(mensajesCtrl.params.id)">
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span><i class="fa fa-file-text"></i> {{mensajesCtrl.mensaje.asunto}}</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="mensajesCtrl.goBack()">
                <i class="fa fa-arrow-left fa-lg"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-content>
        <md-card layout-padding  ng-class="(mensajesCtrl.mensaje.tipo == 2)? 'mensaje-mesa' : ''">
            <md-card-content>
                <h1  class="md-title">{{mensajesCtrl.mensaje.asunto}}</h1>
                <p><small>{{mensajesCtrl.mensaje.fecha}}</small></p>
                <p>Escrito por: <strong ng-show="mensajesCtrl.mensaje.tipo==1">mi</strong><strong ng-show="mensajesCtrl.mensaje.tipo==2">Mesa de control</strong></p>
                <p>{{mensajesCtrl.mensaje.mensaje}}</p>
            </md-card-content>
        </md-card>
        <md-divider></md-divider>
        <div layout-padding>
            <md-card layout-padding ng-repeat="mensaje in mensajesCtrl.mensaje.mensajes" ng-class="(mensaje.tipo == 2)? 'mensaje-mesa' : ''">
                <md-card-content>
                    <h1  class="md-title">{{mensaje.asunto}}</h1>
                    <p><small>{{mensaje.fecha}}</small></p>
                    <p>Escrito por: <strong ng-show="mensaje.tipo==1">mi</strong><strong ng-show="mensaje.tipo==2">Mesa de control</strong></p>
                    <p>{{mensaje.mensaje}}</p>
                </md-card-content>
            </md-card>
        </div>
        <md-button class="md-fab md-fab-bottom-right" ng-click="mensajesCtrl.new()">
            <i class="fa fa-reply fa-lg"></i>
        </md-button>
    </md-content>
</div>
