<div ng-controller="recoverController">
 <md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button href="#login" aria-label="Back">
      <i class="fa fa-arrow-left fa-lg"></i>
    </md-button>
    <h2>Recuperar contraseña</h2>
  </div>
</md-toolbar>
<form name="logintForm" ng-submit="recuperar()">
  <md-whiteframe class="md-whiteframe-1dp bg-huella" layout="column" layout-padding>
    <!-- <small>Datos de prueba: testXXXXXXXXXXXXXX, test</small> -->
    <p>Ingresa tu dirección de correo:</p>
    <md-input-container>
      <label>Email</label>
      <input ng-model="email"  required type="email">
      <div ng-messages="logintForm.email.$error">
        <div ng-message="md-required">Ingrese un correo válido</div>
      </div>

    </md-input-container>

    <md-button class="md-raised md-primary" flex="100" flex-sm="100"  type="submit">Recuperar</md-button>
    <div>
      <div ng-show="loading" layout="row" layout-align="center">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      </div>
      <p>{{message}}</p>
      <p class="error">
        {{errorMessage}}
      </p>
    </div>
  </md-whiteframe>
</form>
</div>