<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button"  href="#login" aria-label="Regresar">
          <i class="fa fa-arrow-left fa-lg"></i>
        </md-button>
        <h2>
          <span>Registro</span>
        </h2>
    </div>
</md-toolbar>
<script type="text/ng-template" id="errorMessages" multiple>
    <ng-include src="'views/solicitud/error_messages.html'"></ng-include>
</script>

	<script type="text/ng-template" id="errorMessagesCurp" multiple>
		<ng-include src="'views/solicitud/error_messagesCurp.html'"></ng-include>
	</script>
		<script type="text/ng-template" id="errorMessagesRfc" multiple>
		<ng-include src="'views/solicitud/error_messagesRfc.html'"></ng-include>
	</script>


<md-content ng-controller="registerController as registerCtrl">
    <form name="projectForm" ng-submit="registerUser(projectForm.$valid)" novalidate>
        <div>
          <p>{{message}}</p>
        </div>
        <div class="md-padding md-body-2" layout="column">
            <div ng-show="loading" layout="row" layout-align="center" >
              <md-progress-linear md-mode="indeterminate" class="loadIndeterminate"></md-progress-linear>
            </div>
            <md-input-container 	class="md-input-has-placeholder">
          		<label>Número de Seguridad Social (NSS)*</label>
					<input ng-model="solicitudCtrl.solicitudForm.nss" type="number" name="nss" required  aria-label="NSS"
					
					placeholder="9999999999"
					
					>
				    <div ng-messages="solicitudForm.nss.$error" ng-show="solicitudForm.nss.$touched">
				      	<div ng-messages-include="errorMessages"></div>
				    </div>
				</md-input-container>

            <!-- -->
 			<md-input-container 	class="md-input-has-placeholder">
					<label>CURP*</label>
					<input ng-model="solicitudCtrl.solicitudForm.curp" 
					type="text" name="curp" 
					
			
					 aria-label="curp"
					
				required
				placeholder="AAAA999999AAAAAA99"
				
					                 pattern="^([a-zA-Z]{4})([0-9]{6})([H,M,h,m][a-zA-Z]{5})([0-9]{2})$"

				 

					>
					<div ng-messages="solicitudForm.curp.$error" ng-show="solicitudForm.curp.$touched">
						<div ng-messages-include="errorMessagesCurp"></div>
					</div>
				</md-input-container>
				
            <md-input-container>
                <label>RFC</label>
                <input ng-model="registerCtrl.projectForm.rfc" type="text" name="rfc" aria-label="rfc" required pattern="^[a-zA-Z]{4}(\d{6})((\D|\d){3})?$">
                <div ng-messages="projectForm.rfc.$error" ng-show="projectForm.rfc.$touched">
                    <div ng-messages-include="errorMessagesRfc"></div>
                </div>
            </md-input-container>  
            <md-input-container>
                <label>Nombre(s)*</label>
                <input ng-model="registerCtrl.projectForm.name" type="text" name="name" minlength="3" required pattern="^([a-zA-Z ñáéíóú]+)$" aria-label="name">
                <div ng-messages="projectForm.name.$error" ng-show="projectForm.name.$touched">
                    <div ng-messages-include="errorMessages"></div>
                </div>
            </md-input-container> 
            <md-input-container>
                <label>Apellido paterno*</label>
                <input ng-model="registerCtrl.projectForm.apdPaterno" type="text" name="apdPaterno" minlength="3" required pattern="^([a-zA-Z ñáéíóú]+)$" >
                <div ng-messages="projectForm.apdPaterno.$error" ng-show="projectForm.apdPaterno.$touched">
                    <div ng-messages-include="errorMessages"></div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Apellido materno*</label>
                <input ng-model="registerCtrl.projectForm.apdMaterno" type="text" name="apdMaterno" minlength="3" required pattern="^([a-zA-Z ñáéíóú]+)$" >
                <div ng-messages="projectForm.apdMaterno.$error" ng-show="projectForm.apdMaterno.$touched">
                    <div ng-messages-include="errorMessages"></div>
                </div>
            </md-input-container>
            <md-input-container class="md-input-has-placeholder">
                <label>Teléfono*</label>
                <input ng-model="registerCtrl.projectForm.telefono" type="text" name="telefono"
                	ui-options="{clearOnBlur:false}" ui-mask="(999) 9999-999" ui-mask-placeholder-char="_"
					
                >
                <div ng-messages="projectForm.telefono.$error" ng-show="projectForm.telefono.$touched">
                    <span ng-message="pattern">El numero de telefono no tiene el formato correcto</span>
                    <div ng-messages-include="errorMessages"></div>
                </div>
            </md-input-container>    
            <md-input-container class="md-input-has-placeholder">
                <label>Celular</label>
                <input ng-model="registerCtrl.projectForm.celular" type="text" name="celular"
                ui-options="{clearOnBlur:false}" ui-mask="(999) 9999-999" ui-mask-placeholder-char="_"
                >
                <div ng-messages="projectForm.celular.$error" ng-show="projectForm.celular.$touched">
                    <span ng-message="pattern">El numero de celular no tiene el formato correcto</span>
                    <div ng-messages-include="errorMessages"></div>
                </div>
            </md-input-container> 
            <h3 class="md-title">Datos para ingresar al sistema</h3>
            <md-input-container>
                <label>Correo electrónico (Email)</label>
                <input ng-model="registerCtrl.projectForm.email" type="email" name="email" required pattern="^[a-zA-Z0-9\-\._+!¡#$%&*+?]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]+$">
                <div ng-messages="projectForm.email.$error" ng-show="projectForm.email.$touched">
                    <div ng-message="md-required">Ingrese un correo válido</div>
                    <div ng-messages-include="errorMessages"></div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Contraseña</label>
                <input ng-model="registerCtrl.projectForm.contrasena" type="password" name="contrasena" minlength="8" required>
                <div ng-messages="projectForm.contrasena.$error" ng-show="projectForm.contrasena.$touched">
                    <span ng-message="minlength">La contraseña debe tener al menos 8 caracteres</span>
                    <div ng-messages-include="errorMessages"></div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Repite la contraseña</label>
                <input ng-model="registerCtrl.projectForm.contrasena2" type="password" name="contrasena2" minlength="8" required compare-to="registerCtrl.projectForm.contrasena">
                <div ng-messages="projectForm.contrasena2.$error" ng-show="projectForm.contrasena2.$touched" >
                    <span ng-message="minlength">La contraseña debe tener al menos 8 caracteres</span>
                    <div ng-messages-include="errorMessages"></div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="projectForm.$invalid">
                Registrarme 
            </md-button>
        </div>
    </form>
</md-content>