<div layout="column" class="md-toolbar-tools-bottom inset" >
    <div class="bottom-sheet-demo" layout="row" >
        <div>
            <!--<img ng-src="{{user.selfie}}" class="md-avatar" alt="{{user.selfie}}"/>-->

<div class="zcontainer" style="background-image:url({{user.selfie}})"></div>


            <div class="bottom-sheet-demo" layout="row" >
                <md-button class="md-fab md-primary md-mini" ng-click="uploadSelfie('camera')"><i class="fa fa-camera fa-lg" aria-label="selfe"></i></md-button>
                <md-button class="md-fab md-primary md-mini" ng-click="uploadSelfie('file')"><i class="fa fa-upload fa-lg" aria-label="archivo"></i></md-button>
            </div>
        </div>
        <div class="bottom-sheet-demo" layout="row" >
            <h4>
                <a href="#personales"  ng-click="toggleSidenav('left')">
                    {{user.name}}<br/><small>{{user.email}}</small>
                </a>
            </h4>
        </div>
    </div>
    <md-list class="menu"> 
<!--  <md-list-item md-ripple-size="partial" class="custom-sidebar" ng-repeat="(key, item) in menu" href="{{item.link}}" layout="column" ng-click="openMenu(key)" layout="column" ng-class="menuActivo == key ? 'active' : ''" id="{{key}}" style="background-color:{{item.color}};">
<p> <i class="fa fa-{{item.icon}} "></i> {{item.label}}</p>
</md-list-item> -->
<md-list-item md-ripple-size="partial" class="custom-sidebar" ng-repeat="(key, item) in menu" href="{{item.link}}" layout="column" ng-click="openMenu(key)" layout="column" ng-class="menuActivo == key ? 'active' : ''" id="{{key}}">
    <p> <i class="fa fa-{{item.icon}} "></i> {{item.label}}</p>
    <md-divider></md-divider>
</md-list-item>

<!-- <md-list-item md-ripple-size="partial" class="custom-sidebar" ng-click="salir()"  href="#" layout="column" style="background-color:#9f0000;">
<p> <i class="fa fa-sign-out"></i> Salir</p>
</md-list-item> -->
<md-list-item md-ripple-size="partial" class="custom-sidebar" ng-click="salir()"  href="#" layout="column">
    <p> <i class="fa fa-sign-out"></i> Salir</p>
</md-list-item>
</md-list>