<span ng-message="required">El rfc es necesario Ej. CUPU800825569</span>
<span ng-message="ng-required">Campo obligatorio errorMessagesRfc</span>
<span ng-message="min">Este numero debe ser mas mayor que {{min}}.</span>
<span ng-message="max">Este numero debe ser mas menor que {{max}}.</span>
<span ng-message="number">Se deben ingresar numeros</span>
<span ng-message="date">La fecha tiene un formato incorrecto</span>
<span ng-message="minlength">El texto es muy corto</span>
<span ng-message="maxlength">El texto es muy largo</span>
<span ng-message="email">Este campo debe contener un email valido</span>
<span ng-message="pattern">No se ha escrito el rfc correctamente Ej. CUPU800825569 </span>
<span ng-message="compareTo">No coinciden las contraseñas</span>
<span ng-message="invalid">El rfc es necesario Ej. CUPU800825569</span>