<md-dialog aria-label="Expandir" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Subir Documento</h2>

                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fa fa-close fa-2x"   aria-label="Cerrar"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>





            <div class="md-dialog-content">

      <div layout="column">

          <p>
                                        <b>{{zitem.name}} </b>
                                    </p>
                                    <p>Reglas </p>
                                    <p>
                                          {{zitem.reglas}} 
                                    </p>
                                </div>



</div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            



            <md-button class="md-icon-button" ng-click="uploadFile(zitem.id_documento)" style="margin-right: 10px;">
                <md-tooltip md-direction="top">Subir Imagen</md-tooltip>
                <md-icon aria-label="icon" class="fa fa-picture-o fa-2x" ></md-icon>
            </md-button>


            <md-button class="md-icon-button" ng-click="takePhoto(zitem.id_documento)" style="margin-right: 10px;">
                <md-tooltip md-direction="top">Tomar Foto </md-tooltip>
                <md-icon aria-label="icon" class="fa fa-camera fa-2x" ></md-icon>
                <!--<md-icon aria-label="Solicitud" md-svg-icon="file-document"></md-icon>-->
            </md-button>







            <md-button ng-click="cancel()" style="margin-right:20px; margin-left: 10px;">
                Cerrar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>