<div ng-controller="documentosController as documentos" ng-init="documentos.init()" >
	<form method="post" enctype="multipart/form-data">
		<md-toolbar layout="row" class="md-hue-3">
			<div class="md-toolbar-tools">
				<span><i class="fa fa-file-text"></i> Documentos</span>
			</div>
		</md-toolbar>

		<md-content ng-show="documentos.accessObj.access">
			<div ng-show="documentos.loading" layout="row" layout-align="center" >
				<md-progress-linear md-mode="indeterminate" class="loadIndeterminate"></md-progress-linear>
			</div>
			<md-list flex>
				<md-subheader class="md-no-sticky">Documentos cargados</md-subheader>
				<md-list-item class="md-3-line secondary-button-padding" ng-repeat="item in documentos.listado" href="#documentos/{{item.id_documento_cargado}}">
					<img ng-src="{{item.url}}" class="md-avatar" alt="{{item.name}}" />
					<div class="md-list-item-text" layout="column">
						<h3>{{ item.name }} </h3>
						<h4>{{ item.nombreArchivo }}</h4>
						<p>{{ item.fechaCarga }}</p>
						<p><span ng-show="item.validado" class="docValidado">Documento validado <i class="fa fa-check-circle"></i></span><span ng-show="!item.validado" class="docNoValidado">Documento no validado <i class="fa fa-times-circle"></i></span></p>
						<md-button aria-label="boton ng-show="!item.validado" class="md-secondary md-fab md-mini" 
						ng-if="solicitud.editable"
						ng-click="documentos.eliminar(item.id_documento_cargado)"
						><i class="fa fa-trash fa-lg"></i></md-button>
					</div>
				</md-list-item>
				<md-divider></md-divider>
				<md-subheader class="md-no-sticky">Documentos faltantes</md-subheader>
				<div ng-repeat="item in documentos.listadoFaltantes">
					<input type="file" custom-on-change="uploadFile" class="ng-hide" id="fileInput_{{item.id_documento}}" name="fileInput_{{item.id_documento}}" accept="image/*" ng-model="documentos.files.newFile">
					<md-list-item class="md-3-line secondary-button-padding" ng-click="documentos.executeClick(item.id_documento)" id="item_{{item.id_documento}}" >


						<div class="md-list-item-text">
							<h3>{{ item.name }}</h3>
						</div>
						<md-button  aria-label="boton" class="md-secondary md-fab md-mini" ng-click="documentos.takePhoto(item.id_documento)"><i class="fa fa-camera fa-lg"></i></md-button>
						
					</md-list-item>
				</div>
			</md-list>
		</md-content>
		<div  layout-padding>
			<md-whiteframe class="md-whiteframe-1dp" layout="column" ng-show="!documentos.accessObj.access">
				<p>{{documentos.accessObj.message}}</p>
				<p ng-bind-html="documentos.accessObj.template"></p>

			</md-whiteframe>
		</div>
	</form>
	
</div>
