<form method="post" ng-submit="configCtrl.guardarCuenta()" name="cuentaForm">
	<md-content class="md-padding md-body-2" layout="column">
		<md-input-container>
			<label>Contraseña actual</label>
			<input ng-model="configCtrl.cuentaForm.passwordCurrent" type="password" required>
			<div ng-messages="cuentaForm.passwordCurrent.$error">
				<div ng-message="md-required">Campo obligatorio</div>
			</div>
		</md-input-container> 
		<md-input-container>
			<label>Contraseña nueva</label>
			<input ng-model="configCtrl.cuentaForm.password" type="password" required>
			<div ng-messages="cuentaForm.password.$error">
				<div ng-message="md-required">Campo obligatorio</div>
			</div>
		</md-input-container> 
		<md-input-container>
			<label>Repite contraseña nueva</label>
			<input ng-model="configCtrl.cuentaForm.password2" type="password" required>
			<div ng-messages="cuentaForm.password2.$error">
				<div ng-message="md-required">Campo obligatorio</div>
			</div>
		</md-input-container> 
		 <md-button class="md-raised md-primary" type="submit">Reestablecer contraseña</md-button>
	</md-content>
</form>